@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #DBD8E3;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #3c3c3c;
    padding-bottom: 50px;
}

.box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: auto;
    background-color: #0E3EDA;
    border-radius: 10px;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.insideCards {
    display: flex;
    flex: 1 0 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: #cccccc;
    margin: 0 auto;
    max-height: 100px;
    border-radius: 10px;
    max-width: 100px;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.insideCards img {
    height: 150px;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}


.btn {
    height: 70px;
    width: 200px;
    background-color: #0E3EDA;
    border-radius: 5px;
    border: none;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 1px;
}

.btn:hover {
    background: transparent;
    border: 2px solid #385BA8;
    color: #385BA8;
}

.vencedor {
    width: 40%;
    margin: 0 auto;
    background-color: #3c3c3c;
    margin-bottom: 100px;
    border-radius: 5px;
    display: none;
}

.vencedor h1 {
    color: #fff;
    margin-top: 25px;
    font-size: 42px;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 1px;
}

.vencedor p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
}

@media (max-width: 1024px) {
    .logo img {
        width: 150px;
        height: auto;
        padding: 25px 0;
    }

    .box {
        width: 95%;
        margin: 0 auto;
        height: auto;
        padding: 0 !important;
    }

    .insideCards {
        max-width: 60px;
        max-height: 60px;
        padding: 10px;
        gap: 0;
        margin: 10px 0;
    }

    .insideCards img {
        height: 60px;
        width: auto;
    }

    .cards {
        padding: 10px 0;
        gap: 5px;
    }

    .vencedor {
        width: 90%;
        margin-top: 100px;
        font-family: 'Francois One', sans-serif;
    }

}